/* About Section Styles */
 
.about {
    margin-bottom: 80px;
}

h2 {
    font-size: 22px;
    line-height: 30px;
}

.about-txt {
    max-width: 97%;
}

.btn-allservices {
    display: block;
    margin-top: 30px;
    width: 100%;
    height: 51px;
    border-radius: 4px;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 51px;
    text-align: center;
    cursor: pointer;
}

.btn-allservices:hover {
    opacity: 0.5;
}

/* 
#btn_services {
    margin-top: 30px;
    width: 100%;
    height: 51px;
    border-radius: 4px;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
} 
*/



/*** TABLET Screen only ***/
@media (min-width: 576px) {
    
    .about {
        margin-bottom: 120px;
    }

    h2 {
        font-size: 35px;
        line-height: 48px;
    }

    .about-txt {
        max-width: 80%;
    }
    
    .btn-allservices {
        width: 255px;
        height: 67px;
        border-radius: 5px;
        font-size: 20px;
        line-height: 67px;
    }

    /* 
    #btn_services {
        margin-top: 30px;
        width: 255px;
        height: 67px;
        border-radius: 5px;
        border: 1px solid #AD1818;
        background-color: #AD1818;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        line-height: 27px;
        cursor: pointer;
    }  
    */

}
/*** End TABLET Screen ***/


/*** WIDE screen only ***/
@media (min-width: 1182px) {

    .about {
        margin-bottom: 150px;
    }
    
    h2 {
        font-size: 45px;
        line-height: 61px;
    }
    
    .about-txt {
        max-width: 1060px;
    }

/*     
    #btn_services {
        margin-top: 30px;
        width: 255px;
        height: 67px;
        border-radius: 5px;
        border: 1px solid #AD1818;
        background-color: #AD1818;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        line-height: 27px;
        cursor: pointer;
    }
*/

}
/*** End WIDE Screen ***/