/* Contacts Section Styles */


.contacts {
    padding: 150px 0;
}
    
.contacts-wrapper {
    display: flex;
    column-gap: 10px;

    flex-wrap: wrap;
}

.contact {
    display: flex;
    padding-top: 37px;
    width: calc(50% - 5px);
    background-color: lightgreen;
}

.contact-phone {
    display: block;
    padding-top: 10px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
}

.contact-phone:hover {
    opacity: 0.5;
}

.contact-mail {
    display: block;
    padding-bottom: 10px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
    opacity: 0.5;
    border-bottom: solid 2px #121212;
}

.contacts_mail:hover {
    opacity: 1;
    border-bottom: solid 3px #121212;
}

/*     
.add-icon-before:before {
    content: "";
    display: block;
    margin-bottom: 13px;
    margin-left: 0px;
    width: 24px;
    height: 24px;
    background-image: url('../resources/Vector-phone.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
*/

/*** TABLET Screen only ***/
@media (min-width: 576px) {
    
    

}
/*** End TABLET Screen ***/


/*** WIDE screen only ***/
@media (min-width: 1182px) {

    .contacts {
        padding: 150px 0;
    }
        
    .contacts-wrapper {
        display: flex;
        column-gap: 10px;

        flex-wrap: wrap;
    }

    .contact {
        display: flex;
        padding-top: 37px;
        width: calc(50% - 5px);
        background-color: lightgreen;
    }
    
    .contact-phone {
        position: relative;
        display: block;
        padding-top: 10px;
        font-size: 60px;
        line-height: 60px;
        color: #121212;
        text-decoration: none;
    }
    
    .contact-phone:hover {
        opacity: 0.5;
    }
    
    .contact-phone:before {
        position: absolute;
        top: -37px;
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('../resources/Vector-phone.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .contact-mail {
        position: relative;
        display: block;
        padding-bottom: 10px;
        font-size: 60px;
        line-height: 60px;
        color: #121212;
        text-decoration: none;
        opacity: 0.5;
        border-bottom: solid 2px #121212;
    }
    
    .contact-mail:hover {
        opacity: 1;
        border-bottom: solid 3px #121212;
    }

    .contact-mail:before {
        position: absolute;
        top: -37px;
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('../resources/Vector-mail.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
}
/*** End WIDE Screen ***/