/* Gallery Section Styles */

.gallery-frame {
    position: relative;
    width: 100%;
    height: 408px;
}

.gallery-title-wrapper {
    position: absolute;
    top: 61px;
    width: 100%;
    z-index: 100;
}

.gallery-slides {
    height: 408px;
}

.gallery-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.gallery-slide-active {
    opacity: 1;
}

.gallery-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-slide-title {
    position: absolute;
    top: 296px;
    width: 100%;
}

.gallery-slide-title h3 {
    max-width: 275px;
    font-size: 19px;
    line-height: 26px;
    color: #ffffff;
}

.gallery-controls-wrapper {
    position: absolute;
    top: 189px;
    width: 100%;
}

.gallery-controls {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.gallery-controls button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.gallery-controls button:hover {
    opacity: 0.5;
}

/*** TABLET Screen only ***/
@media (min-width: 576px) {

    .gallery-frame {
        height: 536px;
    }
   
    .gallery-slide {
        height: 536px;
    } 

    .gallery-title-wrapper {
        top: 80px;
    }


    .gallery-controls-wrapper {
        top: 347px;
    }


    .gallery-controls {
        justify-content: flex-start;
    }

    .gallery-controls button {
        margin-right: 25px;
    }
    

    .gallery-slide-title {
        top: 388px;
    }

    .gallery-slide-title h3 {
        max-width: 365px;
        font-size: 25px;
        line-height: 34px;
    }

}
/*** End TABLET Screen ***/


/*** WIDE screen only ***/
@media (min-width: 1182px) {

    .gallery-frame {
        height: 717px;
    }

    .gallery-slide {
        height: 717px;
    }

    .gallery-title-wrapper {
        top: 67px;
    }


    .gallery-controls-wrapper {
        top: 518px;
    }
    

    .gallery-slide-title {
        top: 575px;
    }

    .gallery-slide-title h3 {
        max-width: 443px;
        font-size: 30px;
        line-height: 41px;
    }

    
}
/*** End WIDE Screen ***/