html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: 121212;
}

/* REMOVE - FOR TBS ONLY */
img {
    max-width: 40%;
}

.container {
    margin-inline: auto;
    padding: 0 125px;
    width: 1400px;
}