/* Menu Section Styles */

/* Check if needed - same as in Popup Order Section */
.body-fixed {
    overflow: hidden;
}

.menu {
    margin: 30px auto 60px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo img {
    width: 96px;
}

.menu-nav {
    display: none;
}

.btn-menu-burger {
    display: block;
    width: 38px;
    height: 100%;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-menu-burger::before,
.btn-menu-burger::after {
    content: "";
    position: absolute;
    right: 0;
    top: -3px;
    height: 2px;
    width: 100%;
    background-color: black;
}

.btn-menu-burger::after {
    top: 2px;
    width: 24px;
}

.btn-menu-burger-open::before,
.btn-menu-burger-open::after {
    display: none;
}

.btn-menu-burger-open {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 34px;
    height: 34px;
    background-image: url('../resources/Vector-x.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 80;
}

.menu-burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.8);
    /* Check if opacity is needed */
    /* opacity: 0; */
    visibility: hidden;
    z-index: 50;
}

.menu-burger-open {
    /* Check if opacity is needed */
    /* opacity: 1; */
    visibility: visible;
}

.menu-burger-content {
    /* position: relative; */
    padding: 80px 30px;
    width: 274px;
    height: 100%;
    overflow-y: auto;
    background-color: #FFFFFF;
    transition: transform 0.5s linear;
    transform: translateX(100%);
}

.menu-burger-open .menu-burger-content {
    transform: translateX(0);
}

.menu-burger-logo {
    margin-bottom: 50px;
}
.menu-burger-logo img {
    display: block;
    width: 156px;
    height: 26px;
}

.menu-burger-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.menu-burger-nav a {
    display: block;
    width: fit-content;
    font-size: 25px;
    line-height: 34px;
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
}

.menu-burger-nav a:hover {
    opacity: 0.5;
    box-shadow: inset 0 -0.5px #121212;
}

.burger-contacts {
    margin-top: 40px;
    font-size: 16px;
    opacity: 0.5;
}

.burger-contact a {
    display: block;
    margin-top: 13px;
    font-size: 20px;
    color: #121212;
    text-decoration: none;
}

/*** TABLET Screen only ***/
@media (min-width: 576px) {

    .menu {
        margin: 32px auto 73px auto;
    }

    .menu-logo img {
        width: 127px;
    }

    .btn-menu-burger {
        width: 50px;
    }
    
    .btn-menu-burger::before {
        top: -15px;
    } 

    .btn-menu-burger::after {
        top: -9px;
        width: 31px;
    } 

}
/*** End TABLET Screen ***/


/*** WIDE screen only ***/
@media (min-width: 1182px) {
    .menu {
        margin: 32px auto 70px auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }    
    
    .menu-nav {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    
    .menu-nav a {
        display: block;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: #121212;
        text-decoration: none;
    }
    
    .menu-nav a:hover {
        opacity: 0.5;
        box-shadow: inset 0 -0.5px #121212;
        /* NOTE: USE Shadow instead of Border to avoid moving bottom content while hovering
        border-bottom: 1px solid #121212;
        */
    }

    .menu-burger {
        display: none;
    }

    .btn-menu-burger {
        display: none;
    }
}
/*** End WIDE Screen ***/