/* Projects Section Styles */

.projects {
    margin-bottom: 80px;
}

.project {
    margin-bottom: 49px;
}

.project:last-child {
    margin-bottom: 58px;
}

.project-img {
    margin-bottom: 20px;
    display: block;
}

.project-img img {
    display: block;
    width: 100%;
}

.project h3 {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 25px;
}

.project a {
    font-size: 16px;
    line-height: 22px;
    color: #AD1818;
    text-decoration: none;
}

.btn-allprojects {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #AD1818;
    color: #AD1818;
    border-radius: 4px;
    text-align: center;
    font-size: 22px;
    line-height: 100px;
    text-decoration: none;
}

.btn-allprojects:hover {
    color: #ffffff;
    background-color: #AD1818;
}


/*** TABLET Screen only ***/

@media (min-width: 576px) {
    
    .projects {
        margin-bottom: 100px;
    }
    
    .project {
        margin-bottom: 80px;
    }
    
    .project:last-child {
        margin-bottom: 102px;
    }
    
    .project-img {
        margin-bottom: 15px;
    }
    
    .project h3 {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34px;
    }
    
    .project a {
        font-size: 20px;
        line-height: 27px;
    }
    
    .btn-allprojects {
        height: 153px;
        border-radius: 5px;
        font-size: 30px;
        line-height: 153px;
    }
}
/*** End TABLET Screen ***/


/*** WIDE screen only ***/
@media (min-width: 1182px) {
    .projects {
        margin-bottom: 150px;
    }
    
    .project {
        margin-bottom: 90px;
    }
    
    .project:last-child {
        margin-bottom: 92px;
    }
    
    .project h3 {
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 41px;
    }
    
    .btn-allprojects {
        height: 153px;
        border-radius: 5px;
        font-size: 30px;
        line-height: 153px;
    }    
}
/*** End WIDE Screen ***/
