/* Services Section Styles */

.services {
    padding: 80px 0;
    background-color: #121212;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.service {
    margin-bottom: 57px;
    position: relative;
    width: 100%;
    display: block;
}

.service img {
    margin-bottom: 8px;
    width: 100%;
    object-fit: cover;
}

.service h3 {
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
}

.btn-service {
    position: absolute;
    top: 23px;
    left: 24px;
    padding: 0 25px;
    width: auto;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}

.btn-order {
    width: 100%;
    height: 100px;
    border-radius: 4px;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    cursor: pointer;
}


/*** TABLET Screen only ***/
@media (min-width: 576px) {

    .services {
        padding: 150px 0 120px 0;
    }
    
    .services-wrapper {
        column-gap: 10px;
    }
    
    .service {
        margin-bottom: 77px;
        width: calc(50% - 5px);
    }

    .service img {
        margin-bottom: 15px;
    }

    .service h3 {
        font-size: 25px;
        line-height: 34px;
    }

    .btn-service {
        top: 31px;
        left: 32px;
        padding: 0 26px;
        width: auto;
        height: 40px;
        border-radius: 5px;
        font-size: 20px;
        line-height: 40px;
    }

    .btn-order {
        height: 153px;
        border-radius: 5px;
        font-size: 30px;
        line-height: 41px;
    }
}
/*** End TABLET Screen ***/


/*** WIDE screen only ***/
@media (min-width: 1182px) {

    .services {
        padding: 151px 0 150px 0;
    }
    
    .services-wrapper {
        margin-bottom: 25px;
    }

    .service {
        margin-bottom: 75px;
    }

    .service img {
        margin-bottom: 25px;
    }

    .service h3 {
        font-size: 30px;
        line-height: 41px;
    }

    
}
/*** End WIDE Screen ***/