html {
    scroll-behavior: smooth;
    min-width: 1400px;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: 121212;
    background-color: #ffffff;
}

h1 {
    max-width: 1000px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
}

h3 {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

p {
    font-size: 20px;
    line-height: 27px;
}

.tag {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

.tag-services {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

.tag-footer {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

img {
    width: 100%;
}

.section {
    margin: 0 auto;
    max-width: 1400px;
    padding: 32px 125px 150px 125px;
    background-color: #ffffff;
}

.section_black {
    background-color: #121212;
}

.section_white {
    background-color: #ffffff;
}

.menu {
    box-sizing: border-box;
    margin-bottom: 70px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.menu__logo {
    display: block;
    width: 130px;
}

.menu img {
    height: 21px;
}

.menu__nav {
    display: block;
    float: right;
    white-space: nowrap;
}

.menu__nav a {
    display: inline-block;
    margin-left: 58px;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
    letter-spacing: -0.03em;
}

.menu__nav a:hover {
    box-shadow: inset 0 -0.5px #121212;
    opacity: 0.5;
}

.services_black_set {
    margin: 0 auto;
    max-width: 1400px;
    padding: 151px 125px 150px 125px;
    color: #ffffff;
}

.service {
    margin-bottom: 58px;
}

.service h3 {
    margin-left: 2px;
}

.service:nth-last-child(1) {
    margin-bottom: 0px;
}

.middle {
    max-width: 1150px;
    margin: auto;
}

.about {
    max-width: 1100px;
    margin-bottom: 150px;
}

.project {
    margin-bottom: 89px;
}

.project img {
    margin-bottom: 15px;
}

.project a {
    font-size: 20px;
    line-height: 27px;
    color: #AD1818;
    text-decoration: none;
}


.service img {
    margin-bottom: 14px;
}

.menu td {
    width: 100%;
    text-align: right;
    vertical-align: middle;
    padding-left: 60px;
}


.intro_img {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 150px;
}

.intro_txt {
    max-width: 430px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #ffffff;
    background-color: transparent;
}

.project h3 {
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

.project p {
    color: #AD1818;
}

#all_projects {
    display: block;
    width: 100%;
    height: 151px;
    border: 1px solid #AD1818;
    color: #AD1818;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    line-height: 151px;
    text-decoration: none;
}

#all_projects:hover {
    color: #ffffff;
    background-color: #AD1818;
}

#btn_services {
    margin-top: 30px;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
}

.wide_image {
    width: 100%;
    height: 717px;
    background: 
    linear-gradient(
        180deg,
        rgba(0,0,0,0) 0.52%,
        rgba(0,0,0,0.4) 82.81%
        ),
        url('../resources/Project.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }
    
.wide_image_position {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 717px;
}

.wide_image_txt {
    position: absolute;
    left: 125px;
    bottom: 60px;
    max-width: 443px;
    color: #ffffff;
    background-color: transparent;
} 

/* 
.section_image {
    max-width: 1400px;
    margin: 0 auto;
}

.project_img {
    position: relative;
    display: inline-block;
    width: 100%;
}

.project_txt {
    position: absolute;
    max-width: 443px;
    bottom: 60px;
    left: 125px;
    color: #ffffff;
    background-color: transparent;
} 
*/

.contacts {
    margin: 0 auto;
    max-width: 1400px;
    padding: 150px 125px 150px 125px;
}

.tag-phone-before:before {
    content: "";
    display: block;
    margin-bottom: 13px;
    margin-left: -4px;
    width: 24px;
    height: 24px;
    background-image: url('../resources/Vector.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tag-phone-before p {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

.contacts_tel {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
}

.contacts_tel:hover {
    opacity: 0.5;
}

.contacts_mail {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
    opacity: 0.5;
    border-bottom: solid 2px #121212;
}

.contacts_mail:hover {
    opacity: 1;
    border-bottom: solid 3px #121212;
}

/* 
.contacts img {
    width: 13px;
    color: #000000;
    margin-bottom: 12px;
}
} */

.footer {
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #121212;
    color: #ffffff;
}


.footer__nav {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.footer__nav a {
    display: inline-block;
    margin-right: 55px;
    text-decoration: none;
    color: #ffffff;
}

.footer__nav a:last-child {
    margin-right: 0;
}


.footer__nav a:hover {
    opacity: 50%;
}

.footer p {
    text-align: center;
    margin-top: 87px;
}